apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deploy.yaml
- service.yaml
- configmap.yaml
- virtualservice.yaml

namespace: nodeapp

images:
- name: imagem
  newName: blgianini/canal-deploy
  newTag: 391fe76b3c687b31c59e68db9659044b9c365140
